- @posts.each do |post|
	= link_to (image_tag post.image.url(:small))
	%h1= link_to post.title, post
	%p= post.link
	%p
		= post.comments.count
		comments
	%p
		= post.get_upvotes.size
		likes
	%p
		= post.get_downvotes.size
		dislikes

	= link_to "Add new inspiration", new_post_path(@post)